{#{% load url from future %}#}
{% extends 'app/base.html' %}
{% block body_block %}
<div name="breadcrumb">

<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}">Forum</a></li>
<li class="breadcrumb-item active">New Topic</li>
</ol>
</div>
<!-- Posts  -->
<div class="tile-title">
    <h2 align="center" >{{ topic.title }}</h2></div>
<div id="list">
<table class="table forum table-striped">
    <thead>
      <tr>
        <th class="cell-stat"></th>
        <th>
          <h3>Posts</h3>
        </th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Creator</th>
        <th class="cell-stat text-center hidden-xs hidden-sm">Created</th>
{#        <th class="cell-stat-2x hidden-xs hidden-sm">Last Update</th>#}
      </tr>
    </thead>
    <tbody>
    {% for post in posts.object_list %}

    <tr>
        <td class="text-center"><i class="fa fa-question fa-2x text-primary"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></td>
        <td>
          <div class="title"><h4> <span class="title"><strong>{{ post.title }}</strong></span></h4><br/>
            {{ post.body }} <br /><br/>
            </div>
        </td>
        <td class="text-center hidden-xs hidden-sm">by <a>{{ post.creator }}</a></td>
        <td class="text-center hidden-xs hidden-sm"><small>{{ post.created }}</small></td>
{#        <td class="hidden-xs hidden-sm">by <a href="#">{{ topic.creator }}</a><br><small><i class="fa fa-clock-o"></i>{{ topic.created }}</small></td>#}
      </tr>
      <tr>
    {% endfor %}
    </tbody>
  </table>

{#    {% for post in posts.object_list %}#}
{##}
{#        <div class="post" >#}
{#            <span class="title"><strong>{{ post.title }}</strong></span><br />#}
{#            by <a>{{ post.creator }}</a> | <span class="date">{{ post.created }}</span> <br />#}
{#            {{ post.body }} <br /><br/>#}
{#        </div>#}
{#    {% endfor %}#}
</div>

<!-- Next/Prev page links  -->
{% if posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href= "?page={{ posts.previous_page_number }}">previous &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Page {{ posts.number }} of {{ topics.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}"> &gt;&gt; next</a>
        {% endif %}
    </span>
</div>
{% endif %}
        <br/>


<a class="button" href="{% url 'reply' pk %}">Reply</a>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


{% endblock %}